@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");

.font-hind-madurai {
  font-family: "Hind Madurai", sans-serif;
}

/** MEDIA QUERY START */

@media (min-width: 320px) {
  header,
  .hotline-section {
    padding-inline: 20px;
  }
}

@media (min-width: 576px) {
  header,
  .hotline-section {
    padding-inline: 30px !important;
  }
  .header-container {
    flex-direction: row !important;
    justify-content: space-between !important;
    gap: 0 !important;
  }
}

@media (min-width: 768px) {
  header,
  .hotline-section {
    padding-inline: 60px !important;
  }
}

/** MEDIA QUERY END */
